.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  padding-top: 4.5rem ;
  height: 12.5rem;
}
.header div {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header div img {
  height: 2.25rem;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}
.header div h1 {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 900;
}
.header div h1 span {
  color: var(--purpleDark);
}